@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto mono', monospace;
}
:root{
    --special-color: #FF305B;
    --primary-color: #000000;
    --secondary-color: #837d7d;
    --font-color1: #9a9a9a;
    --font-color2: #e7e5e5cb;
    --hover-color: #cc2c40;
    --background-color1: #efefef;
    --background-color2: #eeeeed;
    --font-size-h1: 2.7rem;
    --font-size-h2: 2.4rem;
    --font-size-h3: 1.8rem;
    --font-size-p: 1.2rem;
    --font-size-small: 0.8rem;
}

/* Draw three lines under header */
.underline-header{
  position: relative;
  display: inline-block;
  font-size: 10px;
  margin-bottom: 40px;
}
.underline-header::before, .underline-header::after,
.underline-header span{
  content: "";
  position: absolute;
  left: 0px;
}
.underline-header::before {
  bottom: -5px;
  width: 30%;
  height: 2px;
  left: 90px;
  background-color: rgb(201, 196, 196);
  animation: changeColor 3s infinite ease-in-out;
}
.underline-header::after {
  background-color: var(--secondary-color); 
  bottom: -12px;
  width: 70%;
  height: 2px;
  left: 35px;
  animation: changeColor1 3s infinite  ease-in-out;
}

.underline-header span{
  background-color: var(--special-color);
  bottom: -18px;
  width: 30%;
  height: 2px;
  left: 90px;
  animation: changeColor2 3s infinite  ease-in-out;
}
@keyframes changeColor{
  0%   { background-color: rgb(201, 196, 196);}
  50%  { background-color: var(--special-color);}
  100% { background-color: var(--secondary-color);}
}
@keyframes changeColor1{
  0%   { background-color: var(--special-color);}
  50%  { background-color: rgb(201, 196, 196);}
  100% { background-color: var(--secondary-color);}
}
@keyframes changeColor2{
  0%   { background-color: var(--secondary-color);}
  50%  { background-color: var(--special-color); }
  100% { background-color: rgb(201, 196, 196); }
}
/* end  3 lines style*/
/* Start Navbar Style */
.landing{
    background-image: url('../images/landingimg.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
/* .navbar{
    display: flex;
    justify-content: space-between;

}
nav .logo{
    font-size: var(--font-size-h3);
    font-style: italic;
}
.navbar .logo a{
    color: var(--special-color);
    text-decoration: none;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 1rem;
} */
/* .navbar ul li a{
    color: var(--font-color2);
    text-decoration: none;
}
.navbar ul li a:hover{
    color: var(--special-color);
} */
header{
    position: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    text-transform: capitalize;
}
header span{
    color: var(--font-color2);
    font-size: var(--font-size-p);  
}
header h1{
    font-size: var(--font-size-h1);
    color: var(--special-color);
}
header p{
    font-size: var(--font-size-p);
    color: var(--font-color2);
}
/*Start 'Hello' Section Style */
.about{
    padding: 30px;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
    gap: 15px;
}
.about-content .about-image{
    border: 5px solid #333;
    border-radius: 10px;
    position: relative; /*img+ hover + icons8*/
    text-align: center;
    overflow: hidden;
    width: 300px;
    padding: 5px 0 0 5px;
    box-shadow: 10px 10px 3px  #333; 

}
.about-image img{
    position: relative;
    right: -3px;
    object-fit: cover; 
    width: 100%;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 10px 10px 3px  #333;
}
 .about-image .image-cap{
    position: absolute;
    left: 0;
    top: 100%;
    color: var(--background-color1);
    background-color: rgba(0, 55, 107, 0.5);
    width: 100%;
    height: 100%;
    transition: 2s;
    z-index: 2;
 }
 .about-image:hover .image-cap{
    top: 0px;
 } 
 .image-cap a{
    color: var(--background-color2);
    align-items: center;
 }
 .image-cap a:hover{
    color: var(--special-color);
 }
  .image-cap a i{
    align-items: center;
  }
.about-content .about-text{
    flex: 1;
    width:100%;
    /* padding: 0.5rem; */
}
.about-content .about-text h2{
  position: relative;
  font-size: 36px;
  font-weight: bold;
  padding-left: 15px;
}
.about-text h2::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 3px;
  height: 25px;
  background-color: var(--special-color);
  border-radius: 2px;
  animation: move 2s infinite ease-in-out;
}
@keyframes move{
  0% {
    height: 25px;
  }
  50% {
    height: 35px;
  }
   100% {
    height: 25px;
   }
}
@media (max-width: 768px){
    .about-text h2::before{
        left: 7.2rem;
    }
}
.about-text .dotted-line{
    border-bottom: 2px dotted #999;
    width: 100%;
    margin: 15px 0;
}
.about-info {
    display: flex;
    gap: 15px;
    padding: .5rem ;
    text-transform: capitalize;
}
.about-info .about-item{
    font-size: var(--font-size-small);
}
.about-info .about-item span{
    color: var(--secondary-color);
    font-size: var(--font-size-small);
}
.about-info .about-item button{
    color: var(--font-color2);
    background-color: var(--special-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 1s;
}
.about-info .about-item button:hover{ 
    color: var(--hover-color);
}
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
   }
   .about-image{
    width: 100%;
    margin-bottom: 20px;
  }
  .about-info{
    flex-direction: column;
  }
  .about-text{
    width: 100%;
  }
}  
/* End 'Hello' Section Style*/
/* Start Services Section Style*/
.services{
    background-color: var(--background-color2);
    padding: 20px;
    text-align: center;
}
.services h2{
    font-size: var(--font-size-h3);
    margin-bottom: 10px;
}
.services .col-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.services .col-container .col-serv{
   width: 22%;  
   padding: 30px 20px;
   margin-top: 10px;
   min-width: 220px;
   border-radius: 12px;
   font-size: 1.2rem;
   cursor: pointer;
   transition: all 0.5s;
}
.services .col-serv i{
    color: var(--special-color);
    font-size: var(--font-size-p);
}
.services .col-serv h3{
    font-size: var(--font-size-p);
}
.services .col-serv p{
    font-size: var(--font-size-small);
    color: var(--font-color1);
}
.services .col-container .col-serv:hover{          
    background-color: white;
}
/* Start 'Our Portfolio' Section Style  */
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 15px;
    padding: 10px;
}
.grid-container > div{
    padding: 10px;
}
.grid-container .grid-item{        
    text-align: center;
    text-decoration: none;
    grid-column: 1 / span 3;
}
.grid-item h2{
    font-size: var(--font-size-h3);
    margin-bottom: 10px;
}

/* Not Working...!!
.grid-item .lines{
    position: relative;
}
.grid-item .line{
    display: flex;
    flex-wrap: wrap;
    width: 40px;
}
.grid-item span{
    color: #000000; 
}
.grid-item .line span:first-child{
    color: #221b1b;
    width: 50%;
    height: 3px;
    margin-bottom: 7px;
}

.grid-item .line span:nth-child(2){
    color: var(--special-color);
    height: 3px;
    width: 100%;
    margin: 7px;
}
.grid-item .line span:last-child{
    color: #221b1b;
    width: 50%;
    height: 2px;
} */


/* .grid-item ul{
    display: inline-block;
    justify-content: center;
} */

.grid-item ul li{
    display: inline-block;
    margin-top: 15px;
}
.grid-item a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--font-size-small);
}
.grid-item a:hover{
    color: var(--special-color);
}
.grid-container img{
    width: 100%;
}
.grid-container img:hover{
    color: #28356e70;
}
/* Skills Section */
.skills-section{
    background-color: var(--background-color2);
} 
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.skills .row{
    flex-direction: column;
}
.skills i{
    color: var(--special-color);
    font-size: var(--font-size-h3);
}
.skills .row span{
    display: block;
    font-weight: 700;
    font-size: var(--font-size-h3);
    text-align: center;
}
.skills .row p{
    font-size: var(--font-size-small);
    color: var(--secondary-color);
    font-weight: 500;
}
@media (maxwidth: 600px) {
    .skills{
    width: 50%;
    }
}
/* Contact Section */
.contact{
    display: flex;
    flex-direction: column;
}
.contact h4{
    text-align: center;
    justify-content: center;
    font-size: var(--font-size-h3);
    margin-bottom: 10px;
}
/* form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form .row{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.row input {
    flex: 1;
    min-width: 200px;
}
input, textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}
form textarea{
    min-height: 120px;
} */
button {
    background: var(--special-color);
    color: white;
    align-self: flex-start;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 1s;
}
    
button:hover {
  background: var(--hover-color);
}

@media (max-width: 700px) {
    form {
        width: 90%;
        flex-direction: column;
    }
    form button{
        align-items: center; /* HERE is Problem*/
    }
}
/* Footer */
footer {
  background-color: #111; 
  color: #ccc;            
  text-align: center;
  padding: 40px 10px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.5;
}
footer .social-icons i{
    padding: 10px;
    margin: 0 10px;
    color: var(--background-color2);
    cursor: pointer;
}
footer .social-icons i:hover{
    color: var(--special-color);
}
footer span{
    color: var(--special-color);
    font-weight: 500;
}


